<div class="container ">
  <div class="row">
    <div class="mx-auto col-6 mt-3">
      <h1>
        welcome to
        <i class="fas fa-book"></i><strong>Bookers</strong>
        !!
      </h1>
      <p>In
        <i class="fas fa-book"></i><strong>Bookers</strong>,
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <%= link_to "Log in", new_user_session_path, class: 'text-white btn btn-block btn-sm bg-info py-1 mb-3 ' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'text-white btn btn-block btn-sm bg-success py-1 mb-3' %>
    </div>
  </div>
</div>